body {
	background-color: grey;
}

.center {
	color: blue;
	font-family: 'Indie Flower', cursive;
	text-align: center;
	font-size: 100px;
}

.round {
	border-radius: 25px;
}

.box {
  float: left;
  width: 200px;
  height: 100px;
  margin: 1em;
}

.second {
	margin: 50px 10px 10px 10px;
	border-radius: 25px;
	background-color: #31C9CE !important;
}

.pic {
	height: 340px;
}

.card {
	background-color: grey;
}

.names {
	font-family: 'Indie Flower', cursive;
	color: white;
	text-align: center;
}

.navbar-brand {
	color: white !important;
	font-family: 'Indie Flower', cursive;
	text-align: center;
	font-size: 50px;
	width: 100%;
	padding: 0;
}

.navbar {
	margin: 10px 10px 0px 10px;
	border-radius: 25px;
	color: white;
	background-color: #31C9CE !important;
}

h1 {
	color: blue;
}

.card-text {
	text-align: center;
	font-family: 'Indie Flower', cursive;
	color: white;
}